<h1>{{message}}</h1>


<form method="get" action="/add">
    <button type="submit">add books</button>
</form>


<form method="get" action="/">
    <button type="submit">list all books</button>
</form>
