<p>add books</p>

<form class="form" action="" method="post">
  Title<br>
  <input type="text" name="title" placeholder="Title" value="">
  <br><br>
  Genre<br>
  <input type="text" name="genre" placeholder="Genre" value="">
  <br><br>
  Description<br>
  <input type="text" name="description" value="" placeholder="Description">
  <br><br>
  Cover<br>
  <input type="text" name="cover" value="" placeholder="Cover">
  <br><br>
  <input type="submit" value="add book">
</form>


<form method="get" action="/">
    <button type="submit">list all books</button>
</form>

<form method="get" action="/delete">
    <button type="submit">delete a book</button>
</form>
