<!DOCTYPE html>
<html>
<head>
    </style>
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <header>
        <nav id="header" class="#c8e6c9 green lighten-4">
          <img id="logo" style="width: 5em; height=5em;" src="https://lh3.googleusercontent.com/-8lEkfXTbf_I/VRXgjhkwvvI/AAAAAAAAAD8/VoVZJpFBiKE/w426-h281/books.png" alt="">
            <h1 class="" style="display: inline;" id="name">Galvanize Reads</h1>
        </nav>
    </header>
<main>
  {{#each title}}
  <h1>{{title}}</h1>
  <h3>{{genre}}</h3>
  <h3>{{description}}</h3>
  <img src="{{cover_url}}" alt="">
  {{/each}}
</main>
<footer>
</footer>
    <script src="script.js"></script>
</body>
</html>
</script>
</body>

</html>
