<p>delete books</p>

<form class="form" action="" method="post">
  book id<br>
  <input type="text" name="id" placeholder="book id" value="">
  <br>
</form>

<form method="post" action="?_method=delete">
    <button type="submit">delete book</button>
</form>

<form method="get" action="/">
    <button type="submit">to books</button>
</form>

<form method="get" action="/add">
    <button type="submit">add a book</button>
</form>
