<!DOCTYPE html>
<html>
<head>
    </style>
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <header>
        <nav id="header" class="#c8e6c9 green lighten-4">
          <img id="logo" style="width: 5em; height=5em;" src="https://lh3.googleusercontent.com/-8lEkfXTbf_I/VRXgjhkwvvI/AAAAAAAAAD8/VoVZJpFBiKE/w426-h281/books.png" alt="">
            <h1 class="" style="display: inline;" id="name">Galvanize Reads</h1>
        </nav>
    </header>
<main>
  {{{body}}}
</main>
<footer>
</footer>
</body>
</html>
</script>
</body>

</html>
